@media (max-width: 800px) {
	.main-container {
		display: grid;
		grid-template-columns: 1fr ; 
		grid-template-rows: 10vh 50vh 30vh 10vh;
		grid-template-areas: "header"
												 "generator"
												 "image"
												 "footer ";
	}

	.image {
		width: 55%;
	}
}

